#id1{
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    left: 0;
    bottom: 0;
    position: fixed;
    height:20px;
    width: 100%;
}
p{
    margin: 0;
    padding: 0;
    color: #555;
    font-size: medium;
}